[user]
	email = sraghuvanshi@college.harvard.edu
	name = djsavvy
[core]
	editor = nvim
[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls-all = ls-tree -r HEAD
  check-whitespace = !git diff-tree --check $(git hash-object -t tree /dev/null) HEAD
  pul = pull
  upll = pull
  checout = checkout
  c = checkout
  cp = cherry-pick
  r = rebase
  ri = rebase -i
  d = diff
  ds = diff --staged
  a = add
  ap = add -p
  cm = commit -m
  s = stash
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
; [submodule]
	; recurse = true
[pull]
	ff = only
[core]
  autoclrf = input
