[user]
	email = sraghuvanshi@college.harvard.edu
	name = djsavvy
[core]
	editor = nvim
[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls-all-master = ls-tree -r master
