/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/window_control_placeholder_support.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/*
Creates placeholders for window controls.
This is a supporting file used by other stylesheets and is mostly
unnecessary if window titlebar is enabled.

Should preferably be imported before other stylesheets, because some values in this style are deliberately overridden by other styles.
*/

/* Modify these values to match your preferences
These reserve extra space on both sides of the nav-bar to be able to drag the window */
:root:is([customtitlebar], [sizemode="fullscreen"]) {
    --uc-window-drag-space-pre: 30px; /* left side*/
    --uc-window-drag-space-post: 30px; /* right side*/
}

:root:is([customtitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
    --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

/* Default width - used on Windows10+ */
:root:is([customtitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 138px;
}

@media (-moz-platform: windows-win7), (-moz-platform: windows-win8) {
    :root:is([customtitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 105px;
    }
}
/* On linux set width based on number of caption buttons.
One button */
@media (-moz-gtk-csd-minimize-button),
    (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-close-button) {
    :root:is([customtitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 28px;
    }
}
/* Two buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button),
    (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-close-button),
    (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
    :root:is([customtitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 56px;
    }
}
/* Three buttons */
@media (-moz-gtk-csd-minimize-button) and (-moz-gtk-csd-maximize-button) and (-moz-gtk-csd-close-button) {
    :root:is([customtitlebar], [sizemode="fullscreen"]) {
        --uc-window-control-width: 84px;
    }
}

@media (-moz-platform: macos) {
    :root:is([customtitlebar]) {
        --uc-window-control-width: 72px;
    }
    :root:is([customtitlebar][sizemode="fullscreen"]) {
        --uc-window-control-width: 0;
    }
}

.titlebar-buttonbox {
    color: var(--toolbar-color);
}
:root[sizemode="fullscreen"] .titlebar-buttonbox-container {
    display: none;
}

:root[sizemode="fullscreen"]
    #TabsToolbar
    > .titlebar-buttonbox-container:last-child {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    height: 40px;
}

:root[sizemode="fullscreen"]
    #TabsToolbar
    > .titlebar-buttonbox-container:last-child {
    height: 32px;
}

#nav-bar {
    border-inline: var(--uc-window-drag-space-pre, 0px) solid transparent;
    border-inline-style: solid !important;
    border-right-width: calc(
        var(--uc-window-control-width, 0px) +
            var(--uc-window-drag-space-post, 0px)
    );
    background-clip: border-box !important;
}

/* Rules for window controls on left layout */
@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
    (-moz-gtk-csd-reversed-placement),
    (-moz-platform: macos) {
    :root[customtitlebar] #nav-bar {
        border-inline-width: calc(
                var(--uc-window-control-width, 0px) +
                    var(--uc-window-drag-space-post, 0px)
            )
            var(--uc-window-drag-space-pre, 0px);
    }
    :root[sizemode="fullscreen"]
        #TabsToolbar
        > .titlebar-buttonbox-container:last-child {
        right: unset;
    }
}
@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled") {
    .titlebar-buttonbox-container {
        order: -1 !important;
    }
    .titlebar-buttonbox {
        flex-direction: row-reverse;
    }
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_toolbar_osx.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Hides tabs toolbar - OSX only */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root {
    --uc-toolbar-height: 32px;
}
:root:not([uidensity="compact"]) {
    --uc-toolbar-height: 34px;
}

#nav-bar-customization-target {
    --toolbar-start-end-padding: 90px;

    & > :is(toolbarbutton, toolbaritem):first-child {
        -moz-window-dragging: drag;
    }
}

#TabsToolbar > * {
    visibility: collapse !important;
}
:root[sizemode="fullscreen"] #TabsToolbar > #window-controls {
    visibility: visible !important;
    z-index: 2;
}
#TabsToolbar > .titlebar-buttonbox-container {
    visibility: visible !important;
    height: var(--uc-toolbar-height) !important;
    width: 100px !important;
}

#nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height));
}
:root[inFullscreen] #navigator-toolbox {
    margin-top: 11px;
}

/**
 * sidebery auto collapse
 * (https://old.reddit.com/r/FirefoxCSS/comments/pcuir9/sidebery_hideshow_sidebar_when_hovering_very/)
 */
:root {
    --sidebar-hover-width: 25px;
    --sidebar-visible-width: 400px;
}

#sidebar-header {
    display: none !important;
}

/*
#sidebar-box {
    position: relative !important;
    overflow: hidden;
    max-width: var(--sidebar-hover-width) !important;
}

#sidebar-box:hover {
    transition: all 100ms !important;
    max-width: var(--sidebar-visible-width) !important;
} */

/* light vs dark theme */
/* frame is sidebar background */
/* toolbar is header background */
/*#root.root {
    --frame-bg: light-dark(red, green) !important;
    --toolbar-bg: light-dark(red, green) !important;
    --scroll-color: light-dark(red, green) !important;
}*/
