[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=1
WindowWidth=938
WindowHeight=594
HandlePosition=100
ProcessTreeView=FALSE
