[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=FALSE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnsPositions=0;2;3;4;1;5;6;7;8;
ColumnUID=FALSE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=7
SortType=1
WindowWidth=1000
WindowHeight=800
HandlePosition=156
ProcessTreeView=FALSE
